@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Personal Library</h1>
    <p class="lead">Personal Library is a web service for storing data about your books.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Start using this useless service now!
        </p>
        <p><a class="btn btn-default" @Html.ActionLink("Go to Library", "Index", "books")</a></p>
    </div>
   
</div>